<div class="content-showcase">
  <div class="left">
    <div class="title">
      <h1>Acheter, Vender, Jouer,</h1>
      <h1>et sécuriser toutes vos cartes</h1>
      <h1>Pokémon</h1>
      <h2>La plateforme virtuelle d'un jeu bien réel</h2>
    </div>
    <div class="buttons">
      <button (click)="signup()" class="big_red_btn parameter">
        S'INSCRIRE
      </button>
      <button class="big_red_btn transparent">EN SAVOIR PLUS</button>
    </div>
    <div class="statistics">
      <div class="stat">
        <p class="number">1586</p>
        <p class="name">Utilisateurs</p>
      </div>
      <div class="stat">
        <p class="number">4756</p>
        <p class="name">Cartes Sécurisées</p>
      </div>
      <div class="stat">
        <p class="number">3K</p>
        <p class="name">Cartes vendues</p>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="" alt="" />
  </div>
</div>
<div class="right_mobile">
  <img src="../../../assets/Team_Rocket-HGSS.png" alt="" />
</div>
